BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
